<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
    <!-- <div class="row text-left">
        <div class="col-sm-12">
          <div class="content-header">Product</div>
        </div>
      </div> -->
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pb-2">
            <h4 class="card-title" id="horz-layout-basic">Account Setting</h4>
            <p class="mb-0">This is the basic horizontal form with labels on left and form controls on right in one line.
              Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. To define form
              sections use <code>form-section</code> class with any heading tags.</p>
          </div>
          <div class="card-content">
            <div class="px-3">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form form-horizontal">
                <div class="form-body">
                  <h4 class="form-section">Change Password</h4>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">Old Password: </label>
                    <div class="col-md-9">
                      <input type="password" id="projectinput1" class="form-control" name="product_name" placeholder="Old Password" formControlName="oldPassword"
                      (change)="checkOldPassword($event)">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput2">New Password: </label>
                    <div class="col-md-9">
                      <input type="password" id="projectinput2" class="form-control" name="product_name" placeholder="New Password" formControlName="newPassword">
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="button" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // Basic form layout section end -->
  