<div *ngIf="itemsAvailable" class="scrolling-wrapper row">
  <div *ngFor="let product of products" class="card shadow shadow-big" [routerLink]="['/product/product-detail',product.id]">
    <div>
      <img src="{{product.product_image}}" alt="" srcset="">
    </div>
    <div class="row">
      <div class="col-12 items name">
        <span class="pl-3 pr-2">{{product.productName}}</span>
      </div>
      <div class="col-12 w-auto">
        <span class="pl-3 pr-2">{{product.productCategory}}</span>
      </div>
      <div class="col-12 w-auto text-success rate">
        <span class="inr-sign"></span> {{product.productPrices[0].rate}} - {{product.productPrices[0].quantity}} g
      </div>
      <div class="col-12  mt-3 w-auto">
        <button class="btn btn-success">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!itemsAvailable" class="card p-5 m-3 shadow shadow-lg">
  <div class="">
      <h6 class="text-center">No Product Available.</h6>
      <button [routerLink]="['/product/products']"  class="btn btn-primary text-center btn-center">Continue Shopping </button>
  </div>
</div>