.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  text-align: center;
  // color: white;
  outline: none !important;
  border: none !important;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    // margin: 0 !important;
    display: inline-block;
    box-sizing: content-box;
    width: 200px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    outline: none !important;
    border: none !important;
  }

  .card>div>img {
    width: 200px;
    height: 150px;
    filter: blur(.1px);
  }
}

.name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.heading {
  margin-left: 140px;
}

.content {
  overflow: hidden;
}

button:active {
  outline: none !important;
  border: none !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: none;
  border: none !important;
}

.inr-sign::before {
  content: "\20B9";
}

.rating-btn {
  padding: 3px;
  font-size: 10px;
  font-weight: 600;
  background-color: green;
  color: white;
}

.review {
  font-size: 13px;
  color: grey;
  position: relative;
  transform: translateY(11%);
}

.rate {
  padding-top: 10px;
  text-align: center;
  // margin-left: -62px;
}

.like {
  font-size: 20px;
  color: red;
  text-decoration: none !important;
}
.btn-center{
    margin-left: 30px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    margin-left: 0;
  }
  .scrolling-wrapper {
    margin: 0;
    text-align: center;
    // color: white;
    outline: none !important;
    border: none !important;
    -webkit-overflow-scrolling: touch;
  
    &::-webkit-scrollbar {
      display: none;
    }
    .card {
      // margin: 0 !important;
      display: inline-block;
      box-sizing: content-box;
      width: 10rem;
      height: 300px;
      margin: 10px;
      cursor: pointer;
      outline: none !important;
      border: none !important;
    }
    // .card:nth-child(2n+1){
    //   margin-left: 10px;
    // }
  
    .card>div>img {
      width: 160px;
      height: 150px;
      filter: blur(.1px);
    }
  }
  .name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .items{
    padding: 0;
  }
  .btn-center{
    margin-top: 10px;
    margin-left: 0px;
}
}