<div class='container-fluid'>  
    <!-- <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
            Use Bootstrap carousel in Angular 8 Project  
        </div>  
    </div>   -->
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img class="slide" src="https://www.bigbasket.com/media/uploads/banner_images/T1_All_Mango_DT_2_1600x460_20thApr.jpg" alt="Delhi Metro">  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: yellow">Delhi Metro</h3>  
                </div>   -->
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.unsplash.com/photo-1474440692490-2e83ae13ba29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Bangalore Metro">  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>   -->
            </ng-template> 
            <ng-template ngbSlide>  
                <img src="https://www.bigbasket.com/media/uploads/banner_images/All_Mangoes_DT_5_1130x400_20thApr.jpg
                " alt="Bangalore Metro">  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>   -->
            </ng-template> 
              <ng-template ngbSlide>  
                <img src="https://www.bigbasket.com/media/uploads/banner_images/All_Organicstore_DT_6_1130x400_25thMar.jpg" alt="Bangalore Metro">  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>   -->
            </ng-template> 
        </ngb-carousel>  
    </div>  
  
</div>
