.carousel{
    // background: #2f4357;
    margin-top: 1rem;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    // width: 200px;
}
.bs-example{
    margin-top: .1rem;
    width: 100%;
    margin-bottom: .1rem;
	// margin: 20px;
}
img{
    width: 100vw;
    height: 300px;
}

@media (min-width: 320px) and (max-width: 480px) {
    img{
        width: 100vw;
        height: 150px;
    }
}