<section *ngIf="isOffer" class="mt-3 mb-3">
  <h4 class="text-center mt-3 heading">Best Offers</h4>
</section>
<div class="scrolling-wrapper container">
  <div  *ngFor="let offer of offers" class="card shadow shadow-big" [routerLink]="['/product/products',offer.id]">
    <div><img
        src="{{offer.product_image}}"
        alt="" srcset="">
    </div>
    <div class="row">
      <div class="col-12 mt-3 name">
        <span class="pl-3 pr-2">{{offer.productName}}</span>
      </div>
      <div class="col-12 w-auto"><button class="btn btn-success rating-btn float-left ml-3">4.5 <i class="fa fa-star"
            aria-hidden="true"></i></button>
        <div class="float-left text-center review pl-2">(3443)</div>
        <a href="/" class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="col-12 w-auto text-success rate"><span class="inr-sign"></span> {{offer.productPrices[0].rate}}</div>
    </div>
  </div>
</div>
