<!--Carousel Wrapper-->
<section>
    <hr>
    <h3 style="text-align: center;">Best Sellers</h3>
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-3"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>200 g</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri</p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">
      <div class="p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3">Mangoes alphonoso kashmiri <i class="fa fa-heart fav ml-2" aria-hidden="true"></i></p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri <i class="fa fa-heart fav ml-2" aria-hidden="true"></i></p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-inner">
              <div class="media flex-column flex-sm-row p-2 mt-3"><img class="align-self-center mr-3 img-fluid"
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1576250924/41XP4PjCliL.jpg" width="120"
                  height="120">
                <div class="media-body">
                  <p class="mt-0 mb-3 ">Mangoes alphonoso kashmiri <i class="fa fa-heart fav ml-2" aria-hidden="true"></i></p>
                  <div class="row">
                    <div class="col-auto font-weight-bold"> &#8377;220 </div>
                    <div class="flex-col"> <small> <del class="text-muted">300</del> </small></div>
                    <div class="col-auto"><small class="text-success font-weight-bold">&#8377;80 off </small></div>
                  </div>
                  <div class="row mt-4 no-gutters mx-auto">
                    <div class="col-auto mr-2"> <select class="custom-select custom-select-lg font-weight-bold">
                        <option selected>2 Kg</option>
                        <option value="1">5 Kg</option>
                        <option value="2">10 Kg</option>
                      </select> </div>
                    <div class="col-auto"> <button type="button"
                        class="btn btn-outline-light btn-lg text-primary font-weight-bold add-item-btn"> Add to
                        cart</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

  <!--Controls-->
  <div class="controls-top">
    <a class="carousel-control-prev" href="#multi-item-example" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
</section>