<section *ngIf="isBestSeller">
  <h4 class="text-center mt-3 heading">Best Deals</h4>
</section>
<div class="scrolling-wrapper">
  <div *ngFor="let bestSeller of bestSellers" class="card shadow shadow-big" [routerLink]="['/product/product-detail',bestSeller.id]">
    <div>
      <img src="{{bestSeller.product_image}}" alt="" srcset="">
    </div>
    <div class="row">
      <div class="col-12 name">
        <span class="pl-3 pr-2">{{bestSeller.productName}}</span>
      </div>
      <div class="col-12 w-auto"><button class="btn btn-success rating-btn float-left ml-3">4.5 <i class="fa fa-star"
            aria-hidden="true"></i></button>
        <div class="float-left text-center review pl-2">{{bestSeller.id*241}}</div>
        <a href="/" class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="col-12 w-auto text-success rate"><span class="inr-sign"></span> {{bestSeller.productPrices[0].rate}}</div>
    </div>
  </div>
</div>
