  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    // color: white;
    outline: none !important;
    border: none !important;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      // margin: 0 !important;
      display: inline-block;
      box-sizing: content-box;
      width: 200px;
      height: 270px;
      margin: 10px;
      cursor: pointer;
      outline: none !important;
      border: none !important;
    }

    .card>div>img {
      width: 200px;
      height: 150px;
      filter: blur(.1px);
    }
  }

  .heading {
    margin-left: 140px;
  }

  .content {
    overflow: hidden;
  }

  button:active {
    outline: none !important;
    border: none !important;
  }

  button:focus {
    outline: 0 !important;
    box-shadow: none;
    border: none !important;
  }

  .inr-sign::before {
    content: "\20B9";
  }

  .rating-btn {
    padding: 3px;
    font-size: 10px;
    font-weight: 600;
    background-color: green;
    color: white;
  }

  .review {
    font-size: 13px;
    color: grey;
    position: relative;
    transform: translateY(11%);
  }

  .rate {
    padding-top: 10px;
    margin-left: -62px;
  }

  .like {
    font-size: 20px;
    color: red;
    text-decoration: none !important;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .heading {
      margin-left: 0;
    }
  }
