<section>
    <div class="row">
        <div *ngFor="let farmer of farmers"  class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-z-3"  *ngIf="true" >
                <div class="card-header text-center">
                    <img src="./assets/img/portrait/small/avatar-s-3.png" alt="Brek" width="150" class="rounded-circle gradient-mint shadow-big">
                </div>
                <!-- <img class="card-img-top" style="border-top-left-radius: 10%; border-top-right-radius: 10%;" src="{{farmer.profile_pic}}" alt=""> -->
                <div class="card-body">
                    <span *ngIf="(farmer.isAdminVerified === 'true')" class="badge badge-success mb-2">Verified</span>
                    <span *ngIf="(farmer.isAdminVerified === 'false')" class="badge badge-danger mb-2">Not Verified</span>
                    <h5 class="card-title">{{farmer.name}}</h5>
                    <p>{{farmer.email}}</p>
                    <a class="text-decoration-none" [routerLink]="['/admin/dashboard/farmer-detail',farmer.id]">
                        <button class="btn btn-outline-dark float-right">More Detail</button>
                      </a>
                    <!-- <p class="card-text">{{farmer.address}}</p> -->
                </div>
            </div>
        </div>
    </div>
</section>