<section id="forgot-password">
  <div class="container p-0">
    <div class="row full-height-vh m-3  d-flex align-items-center justify-content-center">
      <div class="col-lg-5 col-md-7 col-sm-12">
        <div class="card shadow shadow-big">
          <div class="card-content">
            <div class="card-body fg-image">
              <div class="row m-0">
                <div class="col-lg-12 col-md-12 col-sm-12 bg-white px-4 pt-3">
                  <h4 class="card-title mb-2 text-success">Reset Password</h4>
                  <p class="card-text mb-3">
                    Please enter new password to reset.
                  </p>
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <input type="password" class="form-control mb-3" placeholder="New Password"
                      formControlName="newPassword" (keyup)="check_password()" />
                    <div
                      *ngIf="resetForm.controls['newPassword'].hasError('required')  && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)"
                      class="error mb-2 text-danger">
                      Please enter a password
                    </div>
                    <input type="password" class="form-control mb-3" placeholder="Confirm New Password"
                      formControlName="confirmPassword" (keyup)="check_password()" />
                    <div
                      *ngIf="resetForm.controls['confirmPassword'].hasError('required')  && (resetForm.controls['confirmPassword'].dirty || resetForm.controls['confirmPassword'].touched)"
                      class="error mb-2 text-danger">
                      Please enter confirm password
                    </div>
                    <div class="fg-actions d-flex justify-content-between mb-3">
                      <div class="login-btn">
                        <a class="text-decoration-none" [routerLink]="['/auth/login']"><button
                            class="btn btn-outline-success">Back To Login</button>
                        </a>
                      </div>
                      <div class="recover-pass">
                        <button type="submit" class="btn btn-success">
                          <a class="text-decoration-none text-white">Reset
                          </a>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
