<div class="categories">
    <h3 style="text-align: center;">Fruits & Vegetables</h3>
    <div class="row">
        <div class="col-3 ">
           <a [routerLink]="['/product/products']"><img class="images shadow shadow-sm" src="../../../assets/vegetable.jpg" alt="" srcset=""></a>
        </div>
        <div class="col-3"><a [routerLink]="['/product/products']"><img class="images shadow shadow-sm" src="../../../assets/fruits.jpg" alt="" srcset=""></a></div>
        <div class="col-3"><a [routerLink]="['/product/products']"><img class="images shadow shadow-sm" src="../../../assets/cuts_sprout.jpg" alt="" srcset=""></a></div>
        <div class="col-3"><a [routerLink]="['/product/products']"><img class="images shadow shadow-sm" src="../../../assets/exotic_corner.jpg" alt="" srcset=""></a></div>
    </div>
</div>