<div class="categories">
    <h3 style="text-align: center;">Fruits & Vegetables</h3>
    <div class="row">
        <div class="col-3">
            <img class="images" src="../../../assets/vegetable.jpg" alt="" srcset="">
        </div>
        <div class="col-3"><img class="images" src="../../../assets/fruits.jpg" alt="" srcset=""></div>
        <div class="col-3"><img class="images" src="../../../assets/cuts_sprout.jpg" alt="" srcset=""></div>
        <div class="col-3"><img class="images" src="../../../assets/exotic_corner.jpg" alt="" srcset=""></div>
    </div>
</div>