<!------ Include the above in your HEAD tag ---------->

<footer>
  <div style="min-height: 250px;" class="footer shadow shadow-lg" id="footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a><img src="../../../assets/text.png" style="width: 230px;" class="pl-2 pt-5" alt=""></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 links">
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Cancellation & Returns</a></li>
            <!-- <li><a href=""></a></li>                -->
          </ul>
        </div>

        <div class="col-md-3 links">
          <ul>
            <li><a href="">FAQs</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Vendor Connect</a></li>
            <li><a href="https://onlinefarmveggiesfarmer.web.app/farmer/auth/login" target="blank">Sell on our website - Farmer</a></li>
          </ul>
        </div>

        <div class="col-md-6 col-sm-6">
          <section class="newsletter">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="content">
                    <form>
                      <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                      <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                          <button class="btn" type="submit">Subscribe Now</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>
