<div class="row pl-3 m-0">
    <div class="col-lg-12 mt-3">
        <h3>Shopping Cart</h3>
    </div>
</div>
    <div *ngIf="itemsAvailable" class="row">
        <div class="col-lg-6 m-3 shadow-sm item shadow col-sm-12 mb-2">
            <div *ngFor="let item of cart" class="row m-lg-4  mb-4 mt-sm-2">
                    <div  class="col-6 col-sm-7 ml-sm-3 mt-2 pr-sm-0">
                        <h5>{{item.product.productName}}</h5>
                        <h6>{{item.product.productDetail.otherProductInfo.sourcedAndMarketed}}</h6>
                        <h6><span class="inr-sign"></span> {{item.product.productPrices[0].rate}}</h6>
                    </div>
                    <div class="col-6 col-sm-4 pr-sm-0 image">
                        <img src="{{item.product.product_image}}" alt="image" class="img-wrapper" srcset="">
                        <div class="row m-lg-4 m-2">
                            <div class="col-lg-12">
                                <button (click)="removeItem(item.id)" style="cursor: pointer;" class="btn btn-sm btn-danger light"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div> 
            </div>
        </div>
        <div class="col-lg-5 m-3 shadow shadow-big-navbar ml-3">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-uppercase text-center pt-3">Price Details</h5>
                </div>
                <div class="col-12 item-price">
                    <div class="row m-2">
                        <div class="col">
                            Price ({{itemCount}} items)
                        </div>
                        <div class="col">
                            <span class="inr-sign"></span> {{totalPrice}}
                        </div>
                    </div>
                    <hr>
                    <div class="row m-2">
                        <div class="col">
                           Shipping Fee
                        </div>
                        <div class="col">
                            Free
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12">
                    <div class="row m-2">
                        <div class="col">
                           Total Amount
                        </div>
                        <div class="col">
                            <span class="inr-sign"></span> {{totalAmount}}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row m-2 float-right pb-3 float-lg-right">
                            <button class="btn btn-success checkout-btn text-uppercase" [routerLink]="['/product/checkout']" >Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!itemsAvailable" class="card p-5 m-3 shadow shadow-lg">
        <div class="">
            <h5 class="text-center">Your cart is empty!</h5>
            <h6 class="text-center">Add items to it now.</h6>
            <button [routerLink]="['/product/products']"  class="btn btn-primary text-center btn-center">Shop Now</button>
        </div>
    </div>